<div class="container-fluid">
<div class="row">
<div class="col-md-12">
  <img alt="Bootstrap Image Preview" src="./public/images/aboutus.jpg" class="img-rounded" height="300px" width="1000px">
</div>
</div>

<br>
<hr>
<br>
<div class="row">
<div class="col-md-1">
</div>
<div class="col-md-10">
  <p class="bg-success text-center">
    18 years ago in South Africa a seed of an idea was planted, a dream was shared. Inception happened. 18 years on, we look back at what we've built. Leave it up to us, and we'd love to do it all over again. Here's our story
  </p>
</div>
<div class="col-md-1">
</div>
</div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
      <center>
      <h3><span class="glyphicon glyphicon-heart"></span><strong>  34 Million + </strong>    <br><h4>App user </h4></h3>
      </center>
    </div>
    <div class="col-md-3">
      <center>
      <h3><span class="glyphicon glyphicon-heart"></span><strong>  10 Million + </strong>    <br><h4>Tickets a month </h4></h3>
      </center>

    </div>
    <div class="col-md-3">
      <center>
      <h3><span class="glyphicon glyphicon-heart"></span><strong>  3 Billion + </strong>    <br><h4>Page views a month </h4></h3>
      </center>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
<br>
<hr>
