<div class="container">
<div class="row">
<div class="col-md-12">
  <img alt="Bootstrap Image Preview" src="./public/images/contact.jpg" class="img-rounded" height="300px" width="1000px">
</div>
</div>
<hr>
<br>
<div class="row">
<div class="col-md-12">
  <div class="row">

    <div class="col-md-1">
    </div>

    <div class="col-md-3">
      <div class="col-md-12" style="background:#237da3; height: 70px;;border-radius:10px; border-color:black;font-family:serif">

    <center>
    <h2><strong>Reach us at</strong></h2>
  </center>
  <br><br><br>
  </div>
<br><br>
      <address align="left">
        <br>
         <strong><br><br>Mera Film </strong><br> 795 Folsom Ave, Suite 600<br> Grant Road, Mumbai 410897<br> <abbr title="Phone">Phone:</abbr> (022) 456-7890
      </address>
      <p align="left">
      <strong >Whats up : </strong> <br>+91-9999888877
    </p>
      <br>
      <p align="left">
      <strong>Customer Care : </strong><br>1800 400 4000  (08:00 to 23:00)
</p>

    </div>

    <div class="col-md-2">
    </div>

    <div class="col-md-5">
      <form role="form">
        <div class="col-md-12" style="background:#237da3; height: 70px;;border-radius:10px; border-color:black;font-family:serif">

      <center>
      <h2><strong>Leave Your details with us!!!</strong></h2>
    </center>
    <br><br><br>
    </div>
    <br>
    <br>
    <br>
        <div class="form-group">
          <!-- <label class="col-md-5 control-label">
            Name
          </label> -->
          <br><br>
          <input  name="first_name" placeholder="Name" class="form-control"  type="text">
        </div>


        <div class="form-group">
          <!-- <label for="exampleInputEmail1">
            Email address
          </label> -->
          <input type="email" placeholder="Email" class="form-control" id="exampleInputEmail1">
        </div>

        <div class="form-group">
          <!-- <label class="col-md-5 control-label">
            Phone Number
          </label> -->
          <input  name="Contact" placeholder="Contact" class="form-control"  type="text">
        </div>

        <div class="form-group">

          <label for="exampleInputFile">
          </label>
          <input type="file" id="exampleInputFile">
          <p class="help-block" align="left">
            Attach jpg file of your error.
          </p>
        </div>
        <div class="checkbox">

          <label>
            <input type="checkbox"> Customer Executive from Mera Film can contact me.
          </label>
        </div>
        <button type="submit" class="btn btn-default">
          Submit
        </button>
      </form>
    </div>

    <div class="col-md-1">
    </div>




  </div>
  <br>
  <br>
</div>
</div>
</div>
<br>
<hr>
